<div class="container mt-5 mb-5">
    <span style="float: right;">
        <img src="https://img.icons8.com/color/48/000000/circled-user-male-skin-type-3--v1.png"/> Shivanshu Gupta
    </span>
    <h4>
        <%= todayDate %>
    </h4>

    

    <div class="row row-cols-1 mt-5 row-cols-md-2">
        <% arrApps.forEach((apps) => { %>
            <div class="col mb-4">
                <div class="card shadow rounded">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item h5">
                            <p style="float: right;" class="mt-2">
                                <%= apps.time %> Seconds
                            </p>
                            <img class="mt-2" src=<%= apps.icon %>/> <span class="mt-5"><%= apps.owner %></span>
                        </li>
                    </ul>
                    <div class="card-body">
                        <a href="#!" class="h5"><%= apps.apptitle %></a>
                        
                        <p class="card-text mt-1">
                            
                            
                            <%= apps.memory %> Memory Used
                            
                            <br />
            
                            <% if(apps.platform == 'Linux') { %>
                                <img class="float-end" src="https://img.icons8.com/color/28/000000/linux--v1.png"/> Linux
                            <% } %>
            
                            <% if(apps.platform == 'Windows_NT') { %>
                                <img src="https://img.icons8.com/color/28/000000/windows-11.png"/> Windows
                            <% } %>
            
                            <% if(apps.platform == 'Darwin') { %>
                                <img src="https://img.icons8.com/color/28/000000/mac-logo.png"/> Mac
                            <% } %>
                        </p>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>


<script>
    setInterval(() => {
        location.reload();
    }, 8000);
</script>